div(class="flex items-center justify-center gap-x-1")
    button(
        class="text-gray-500 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400 {{buttonClass}}",
        (click)="move(Math.floor((current - 1) / maxlength) * maxlength - (maxlength - 1))",
        [disabled]="(current-1)/maxlength < 1",
        [ngClass]="(current-1)/maxlength < 1 ? disabledClass : ''",
    )
        i.fas.fa-angle-double-left
    button(
        class="text-gray-500 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400 {{buttonClass}}",
        (click)="move(current - 1)",
        [ngClass]="current == 1 ? disabledClass : ''",
        [disabled]="current == 1",
    )
        i.fas.fa-angle-left
    div(class="flex space-x-1")
        ng-container(*ngFor="let page of list")
            ng-container(*ngIf="page == current")
                button(class="text-white bg-blue-500 rounded-full focus:outline-none focus:ring focus:ring-blue-300 {{buttonClass}}", (click)="move(page)") {{page}}
            ng-container(*ngIf="page != current")
                button(class="text-gray-500 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400 {{buttonClass}}", (click)="move(page)") {{page}}
    button(
        class="text-gray-500 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400 {{buttonClass}}",
        (click)="move(current+1)",
        [disabled]="current+1 > end",
        [ngClass]="current+1 > end ? disabledClass : ''",
    )
        i.fas.fa-angle-right
    button(
        class="text-gray-500 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-400 {{buttonClass}}",
        (click)="move(Math.ceil(current / maxlength) * maxlength + 1)",
        [disabled]="Math.ceil(current / maxlength) * maxlength + 1 > end",
        [ngClass]="Math.ceil(current / maxlength) * maxlength + 1 > end?disabledClass:''",
    )
        i.fas.fa-angle-double-right
