div(class="relative", (keydown)="handleKeyDown($event)")
    div(
        (click)="toggleDropdown()",
        [ngClass]="['relative px-4 h-8 border rounded-full flex items-center cursor-pointer', widthClassName, className, disabled ? 'bg-gray-100 cursor-not-allowed' : 'bg-white']"
    )
        input(
            *ngIf="searchable && isOpen",
            "#searchInput"="",
            type="text",
            [(ngModel)]="searchText",
            [placeholder]="placeholder",
            class="w-full outline-none !border-0 !p-0 shadow-0",
            [ngClass]="['text-' + align]",
            (click)="$event.stopPropagation()"
        )
        ng-container(*ngIf="!searchable || !isOpen")
            span(
                [ngClass]="['w-full truncate', 'text-' + align, !selectedOptions || (multiple && multipleSelectedOptions.length === 0) ? 'text-gray-400' : '']"
            )
                ng-container(*ngIf="multiple")
                    | {{ multipleSelectedOptions.length > 0 ? multipleSelectedOptions.length + ' selected' : placeholder }}
                ng-container(*ngIf="!multiple")
                    ng-container(*ngIf="singleSelectedOption; else placeholderTpl")
                        | {{ singleSelectedOption.label }}
                    ng-template("#placeholderTpl"="") {{ placeholder }}
        span(class="absolute right-4 text-gray-500")
            i.ti.ti-chevron-up(*ngIf="isOpen")
            i.ti.ti-chevron-down(*ngIf="!isOpen")

    div(*ngIf="multiple && multipleSelectedOptions.length > 0", class="flex flex-wrap gap-2 mt-2")
        span(
            *ngFor="let option of multipleSelectedOptions",
            class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-sm flex items-center"
        )
            | {{ option.label }}
            button((click)="removeOption(option.value, $event)", class="ml-2 hover:text-blue-600 focus:outline-none")
                i.ti.ti-x

    div(
        *ngIf="isOpen",
        [ngClass]="['absolute mt-1 bg-white border rounded-lg shadow-lg overflow-auto z-50', widthClassName, 'text-' + align]",
        [style.maxHeight]="maxHeight"
    )
        div(*ngIf="filteredOptions.length === 0", class="px-4 py-2 text-gray-500")
            | No options
        div(
            *ngFor="let option of filteredOptions; let i = index",
            (click)="handleOptionSelect(option.value)",
            [ngClass]="{ 'px-4 py-2 cursor-pointer hover:bg-gray-100': true, 'bg-gray-100': focusIndex === i, 'bg-blue-100': multiple ? (value.includes(option.value)) : (value === option.value) }"
        )
            | {{ option.label }}
