.flex.flex-col.items-center.mt-10.mx-auto(*ngIf="data.user && service.auth.show(true)", class="max-w-[1200px]")
    .bg-white.border.border-gray-300.rounded-xl.w-full
        .flex.items-center.p-4.border-b.border-gray-300
            wiz-component-dot
            h2.page-title.ml-3.text-xl.font-bold 기본정보

        .flex.flex-col
            .flex.text-center.items-center.border-b.border-gray-300.h-12
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold") 이메일
                .flex-1.p-2
                    input.w-full.bg-gray-50.rounded-md.border-gray-400.text-sm(
                        type="text",
                        [(ngModel)]="data.user.email",
                        disabled)

            .flex.text-center.items-center.border-b.border-gray-300.h-12
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold") 이름
                .flex-1.p-2
                    input.w-full.rounded-md.border-gray-400.text-sm(
                        type="text",
                        [(ngModel)]="data.user.name")
                
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold") 연락처
                .flex-1.p-2
                    input.w-full.rounded-md.border-gray-400.text-sm(
                        type="tel",
                        [(ngModel)]="data.user.mobile")

            .flex.text-center.items-center.h-12
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold") 아이콘
                .flex-1.flex
                    button.ml-2.self-center.size-9.border.border-gray-300.rounded-lg.bg-contain.bg-center.bg-cover.bg-no-repeat([ngStyle]="{'background-image': 'url(' + data.user.profile_image + ')'}", (click)="updateIcon()", aria-label="프로필 아이콘 변경")
                    button.ml-2.px-3.py-2.bg-gray-500.text-white.text-sm.font-semibold.rounded-md(class="hover:bg-gray-400", (click)="updateIcon()") 아이콘 등록
                    button.ml-2.px-3.py-2.text-blue-700.text-sm.font-semibold(*ngIf="data.user.profile_image", class="hover:underline", (click)="deleteIcon()") 아이콘 삭제

        .text-right.px-4.pt-2.pb-2.border-t.border-gray-300
            button.py-2.px-3.bg-blue-500.text-white.rounded-xl(class="hover:bg-blue-400", (click)="update()") 저장하기
    
    .bg-white.border.border-gray-300.rounded-xl.w-full.mt-10
        .flex.items-center.p-4.border-b.border-gray-300
            wiz-component-dot
            h2.page-title.ml-3.text-xl.font-bold 비밀번호 변경

        .flex.flex-col
            .flex.text-center.items-center.border-b.border-gray-300.h-12(*ngIf="data.user.hasPassword")
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold") 현재 비밀번호
                .flex-1.p-2
                    input.w-full.rounded-md.border-gray-400.text-sm(
                        type="password",
                        [(ngModel)]="data.password.current")
            
            .flex.text-center.items-center.border-b.border-gray-300.h-12
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold")
                    span(*ngIf="data.user.hasPassword") 비밀번호 변경
                    span(*ngIf="!data.user.hasPassword") 비밀번호 설정
                .flex-1.p-2
                    input.w-full.rounded-md.border-gray-400.text-sm(
                        type="password",
                        [(ngModel)]="data.password.data")
            
            .flex.text-center.items-center.h-12
                .flex.items-center.pl-4(class="w-1/6 h-full bg-blue-50 text-sm font-semibold") 비밀번호 확인
                .flex-1.p-2
                    input.w-full.rounded-md.border-gray-400.text-sm(
                        type="password",
                        [(ngModel)]="data.password.repeat")

        .text-right.px-4.pt-2.pb-2.border-t.border-gray-300
            button.py-2.px-3.bg-blue-500.text-white.rounded-xl(class="hover:bg-blue-400", (click)="changePassword()") 변경하기

