.w-full.h-full.overflow-hidden.relative.bg-white(*ngIf="selected")
    .flex.flex-col.w-64.h-full.overflow-hidden.border-r.border-gray-300.relative(class="z-[100] max-sm:!w-full {{tab == 'item'?'max-sm:hidden':''}}")
        button.w-full.py-2.px-4.bg-blue-500.text-sm.text-white(*ngIf="!readOnly", class="hover:bg-blue-600", (click)="create()")
            i.fa-solid.fa-plus.mr-2
            span 회의록 생성하기

        .flex.relative.border-b.border-gray-300
            input.w-full.py-2.pl-3.pr-10.border-none.shadow-0.outline-none.text-sm.peer(placeholder="검색", [(ngModel)]="query.text")
            span.absolute.text-gray-300(class="right-2 top-[6px] peer-focus:text-blue-500")
                svg.icon(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    path(stroke='none' d='M0 0h24v24H0z')
                    circle(cx='10' cy='10' r='7')
                    line(x1='21' y1='21' x2='15' y2='15')

        .flex-1.overflow-hidden
            .h-full.overflow-auto.pb-32
                table.w-full(class="divide-y border-b")
                    ng-container(*ngFor="let item of list")
                        tr(*ngIf="item.title.toLowerCase().indexOf(query.text.toLowerCase()) >= 0")
                            td.text-left.p-3.cursor-pointer(class="hover:bg-slate-100 {{selected.id == item.id ? '!bg-indigo-50' : '' }}", (click)="select(item)")
                                .ff-b.leading-none(class="text-[15px]") {{item.title}}
                                span.text-gray-500.text-xs {{item.meetdate.substring(0, 16)}} / {{item.user.name}}
    
    .flex.flex-col.items-center.w-full.h-full.w-full.absolute.pl-64.top-0(class="max-sm:!p-0 {{tab == 'list'?'max-sm:hidden':''}}")
        ng-container(*ngIf="editorLoaded && !(isEditable() || list.length > 0)")
            img.h-32.w-auto.mt-10(src="/assets/portal/works/work.svg")
            p.mt-8.text-xl 진행된 회의가 없습니다

        ng-container(*ngIf="editorLoaded && (isEditable() || list.length > 0)")
            .flex.items-center.gap-x-3.w-full.h-16.px-6(class="max-sm:!h-auto max-sm:!block max-sm:!px-3 max-sm:!py-2")
                .hidden(class="max-sm:block max-sm:pb-2 max-sm:!p-0 max-sm:!flex")
                    button.rounded-sm.text-sm.w-full.bg-blue-500.text-white.py-1(class="hover:bg-blue-600", (click)="switchTab('list')") 회의목록

                .flex-1(class="max-sm:!p-0 max-sm:!flex")
                    label.self-center.ff-b.block.text-sm(class="max-sm:w-16") 회의제목
                    input.w-full.px-0.py-1.border-none.border-gray-300.text-sm.shadow-0(class="!border-b focus:border-blue-500", placeholder="새로운 회의", [(ngModel)]="selected.title", (change)="onChange(false)", [disabled]="!isEditable()")
                
                .px-3(class="max-sm:!p-0 max-sm:!flex")
                    label.self-center.ff-b.block.text-sm(class="max-sm:w-16") 회의일시
                    input.px-0.py-1.border-none.border-gray-300.text-xs(class="!border-b focus:border-blue-500", type="date", [(ngModel)]="selected.meetdate_day", (change)="onChange(false)", [disabled]="!isEditable()")
                
                .px-3(class="max-sm:!p-0 max-sm:!flex")
                    label.self-center.ff-b.block.text-sm(class="max-sm:w-16") 회의시간
                    input.px-0.py-1.border-none.border-gray-300.text-xs(class="!border-b focus:border-blue-500", type="time", [(ngModel)]="selected.meetdate_time", step="1800", (change)="onChange(false)", [disabled]="!isEditable()")
                
                .px-3(*ngIf="selected.id", class="max-sm:!p-0 max-sm:!flex")
                    label.self-center.ff-b.block.text-sm(class="max-sm:w-16") 버전
                    select.px-0.py-1.border-none.text-xs([(ngModel)]="selected.version", (change)="buildEditor()")
                        option(value="latest") 최신
                        ng-container(*ngFor="let ver of versions")
                            option([value]="ver.id") {{ver.name}}

            .flex.items-center.px-4.py-2.border-t.border-gray-300.w-full.overflow-y-hidden.overflow-x-auto.h-12.min-h-12
                button.text-sm.rounded-sm.bg-gray-600.text-white.h-6.px-3.mr-3.text-nowrap(class="hover:bg-gray-700", (click)="upload()", *ngIf="isEditable()")
                    i.fas.fa-upload
                    span.ml-2 파일 업로드
                .ml-auto
                ng-container(*ngIf="!readOnly")
                    ng-container(*ngIf="selected.id")
                        button.text-sm.rounded-sm.bg-red-600.text-white.h-6.px-3.mr-3.text-nowrap(class="hover:bg-red-700", (click)="delete()", *ngIf="isEditable() && project.accessLevel(['admin', 'manager'])")
                            i.fas.fa-trash
                            span.ml-2 삭제하기
                        button.text-sm.rounded-sm.bg-gray-600.text-white.h-6.px-3.mr-3.text-nowrap(class="hover:bg-gray-700", (click)="revision()", *ngIf="isEditable()")
                            i.fas.fa-file-circle-check
                            span.ml-2 리비전 생성
                            
                    button.text-sm.rounded-sm.bg-gray-600.text-white.h-6.px-3.mr-3.text-nowrap(class="hover:bg-gray-700", (click)="update()", *ngIf="isEditable()")
                        div(class="border-gray-300 h-[12px] w-[12px] animate-spin rounded-full border-[4px] border-t-white inline-block", *ngIf="isUpdate")
                        i.fa-solid.fa-save(*ngIf="!isUpdate")
                        span.ml-2 저장하기

            .flex.items-center.px-4.py-2.border-t.border-gray-300.w-full.overflow-y-hidden.overflow-x-auto.h-12.min-h-12(*ngIf="selected.attachment && selected.attachment.length > 0")
                ng-container(*ngFor="let file of selected.attachment")
                    .flex.pl-2.pr-1.mr-1.bg-gray-200.text-black
                        a.text-sm.rounded-sm.max-w-32.text-ellipsis.overflow-hidden.text-nowrap([title]="file.filename", [attr.href]="project.downloadUrl(file.id, file.filename)", target="_blank") {{file.filename}}
                        a.flex.items-center.text-sm.h-6.rounded-sm.text-black.px-1(class="hover:text-gray-500", [attr.href]="project.downloadUrl(file.id, file.filename)", target="_blank")
                            i.fa-solid.fa-download.ml-2
                        a.flex.items-center.text-sm.h-6.rounded-sm.text-black.px-1(class="hover:text-gray-500", (click)="removeAttachment(file)", *ngIf="isEditable()")
                            i.fa-solid.fa-xmark

            .flex-auto.w-full.border-t-2.border-blue-500.ck-fit-content.ck-editor-noborder.ck-editor-works.ck-editor-docs.prose.max-w-full(style="height: calc(100% - 7rem)")
                textarea('#editor'='', [attr.namespace]="NAMESPACE")

ng-keyboard-shortcuts([shortcuts]="shortcuts")